body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #fff;
	background: #6d4643 url('../img/ground-tile.png') top left repeat-x;
}
h2 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
}
p {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}
a {
	color: #fff;
	text-decoration: none;
	font-style: italic;
}
a:hover {
	border-bottom: dotted 1px #e9ff7c;
}
ul {
	font-size: 12px;
}
#wrapper {
	
}
#header {
	display: block;
	width: 100%;
	height: 200px;
}
#logo {
	display: block;
	width: 192px;
	height: 192px;
	margin: 0 auto;
	padding-top: 10px;
	background: url('../img/3dscraft_logo_192.png') bottom left no-repeat transparent;
}
#content {
	display: block;
	width: 800px;
	margin: 0 auto;
}
#footer {
	width: 800px;
	margin: 0 auto;
	padding: 5px;
	border-top: solid 1px #412e31;
	color: #412e31;
}
#footer p {
	font-size: 10px;
}
.spacer {
	display: block;
	width: 100%;
	height: 36px;
}
.column {
	width: 100%;
	display: block;
	float: left;
}
.column-right {
	float: right;
}
.column-75 {
	width: 75%;
}
.column-50 {
	width: 50%;
}
.column-25 {
	width: 25%;
}
.offscreen {
	display: none;
}
.clear {
	clear: both;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.right {
	text-align: right;
}
.arrow-link {
	padding-right: 10px;
	background: url('../img/right-arrow.png') right center no-repeat transparent;
	line-height: 18px;
	font-weight: bold;
}
.screenshot-gallery {
	margin: 0;
	padding: 0;
}
.screenshot-gallery li {
	display: inline-block;
	list-style: none;
}